<div class="container">
<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p class="btn btn-warning"><%= link_to "Edit this task", edit_task_path %><p>
<p class="btn btn-light"><%= link_to "Back to list", tasks_path %></p>
<%= link_to task_path(@task), method: :delete, data: { confirm: "Remove #{@task.title}?"} do %>
   <p class="btn btn-danger">Delete this task</p>
  <% end %>
</div>
